%label.control-label== #{t(:country)} <br>#{sa.select :country_id, options_from_collection_for_select(Country.all, :id, :name, current_customer.customer_ship_address.country.id), {}, {:class => 'form-control'}}
%br
%br
%label.control-label== #{t(:city)} #{sa.text_field :city, size: 15, class: 'form-control', value: current_customer.customer_ship_address.city}
%br
%br
%label.control-label== #{t(:address)} #{sa.text_area :address, class: 'form-control', value: current_customer.customer_ship_address.address}
%br
%br
%label.control-label== #{t(:zipcode)} #{sa.number_field :zipcode, class: 'form-control s', value: current_customer.customer_ship_address.zipcode}
%br
%br
%label.control-label== #{t(:phone)} #{sa.telephone_field :phone, class: 'form-control', value: current_customer.customer_ship_address.phone}