.container
  %center 
    = form_for @ship_address do |sa|
      = render partial: "errors/errors", locals: {object: sa.object}
      .panel.panel-info.panel-little#sa
        .panel-heading
          %h3= t(:edit_sa)
        .panel-body
          %h5
            %label.control-label== #{t(:country)} <br>#{sa.select :country_id, options_from_collection_for_select(Country.all, :id, :name), {}, {:class => 'form-control'}}
            %br
            %br
            %label.control-label== #{t(:city)} #{sa.text_field :city, size: 15, class: 'form-control'}
            %br
            %br
            %label.control-label== #{t(:address)} #{sa.text_area :address, class: 'form-control'}
            %br
            %br
            %label.control-label== #{t(:zipcode)} #{sa.number_field :zipcode, class: 'form-control s'}
            %br
            %br
            %label.control-label== #{t(:phone)} #{sa.telephone_field :phone, class: 'form-control'}
        .panel-footer
          = sa.submit t(:update_sa), class: 'btn btn-success'