.container
  %center 
    = form_for @ship_address do |sa|
      = render partial: "errors/errors", locals: {object: sa.object}
      .panel.panel-info.panel-little#sa
        .panel-heading
          %h3 Create ship address:
        .panel-body
          %h5
            %label.control-label== Country: <br>#{sa.select :country_id, options_from_collection_for_select(Country.all, :id, :name), {}, {:class => 'form-control'}}
            %br
            %br
            %label.control-label== City: #{sa.text_field :city, size: 15, class: 'form-control'}
            %br
            %br
            %label.control-label== Address: #{sa.text_area :address, class: 'form-control'}
            %br
            %br
            %label.control-label== Zip code: #{sa.number_field :zipcode, class: 'form-control s'}
            %br
            %br
            %label.control-label== Phone: #{sa.telephone_field :phone, class: 'form-control'}
        .panel-footer
          = sa.submit "Create ship address", class: 'btn btn-success'