.container
  %center 
    = form_for @credit_card do |cc|
      = render partial: "errors/errors", locals: {object: cc.object}
      .panel.panel-info.panel-small#cc
        .panel-heading
          %h3= t(:edit_cc)
        .panel-body
          %h5
            %label.control-label== #{t(:cc_number)} #{cc.text_field :number, class: 'form-control'}
            %label.control-label== #{t(:cvv)} #{cc.number_field :cvv, step: 1, class: 'form-control s'}
            %label.control-label== #{t(:owner_fn)} #{cc.text_field :firstname, size: 8, class: 'form-control'}
            %label.control-label== #{t(:owner_ln)} #{cc.text_field :lastname, size: 8, class: 'form-control'}
            %label.control-label== #{t(:exp_m)} #{cc.select :expiration_month, (1..12), {}, class: 'form-control'}
            %label.control-label== #{t(:exp_y)} #{cc.select :expiration_year, (Time.now.year..Time.now.year + 30), {}, class: 'form-control'}
        .panel-footer
          = cc.submit t(:next), class: 'btn btn-primary'