.container
  %center 
    %h4.well.xl
      = render partial: 'navigation', locals: {current_step: 4}
    %h3= t(:books_in_order)
    %table.table.table-hover.table-order-show
      %thead
        %tr
          %th.text-center= t(:book_title)
          %th.text-center= t(:author_name)
          %th.text-center= t(:category_name)
          %th.text-center= t(:quantity)
          %th.text-center= t(:price)
        %tbody
          - current_order.order_items.each do |oi|
            %tr.text-center
              %td= link_to "#{oi.book.title}", book_path(oi.book.id), method: :get
              %td= link_to "#{oi.book.author.full_name}", author_path(oi.book.author.id), method: :get
              %td= link_to "#{oi.book.category.title}", category_path(oi.book.category.id), method: :get
              %td= oi.quantity
              %td== #{number_to_currency(oi.book.price)} (#{t(:total)} #{number_to_currency(oi.price)})
    %h3= t(:order_info)
    %table.table.table-order-show
      %thead
        %tr
          %th.left== #{t(:ba_info)} #{link_to '', edit_bill_address_path(current_order.bill_address.id), class:'icon-pencil'}
          %th.left== #{t(:sa_info)} #{link_to '', edit_ship_address_path(current_order.ship_address.id), class:'icon-pencil'}
          %th.left== #{t(:delivery_info)} #{link_to '', order_edit_delivery_path, class:'icon-pencil'}
          %th.left== #{t(:cc_info)} #{link_to '', edit_credit_card_path(current_order.credit_card.id), class:'icon-pencil'}
        %tbody
          %tr.justified.top
            %td== #{current_order.bill_address.country.name}<br>#{current_order.bill_address.zipcode}, #{current_order.bill_address.city}<br>#{current_order.bill_address.address}<br>Phone: #{current_order.bill_address.phone}
            %td== #{current_order.ship_address.country.name}<br>#{current_order.ship_address.zipcode}, #{current_order.ship_address.city}<br>#{current_order.ship_address.address}<br>Phone: #{current_order.ship_address.phone}
            %td== #{current_order.delivery.name} (+#{number_to_currency current_order.delivery.price})
            %td== ** ** ** #{current_order.credit_card.number.last(4)}<br>#{current_order.credit_card.expiration_month}/ #{current_order.credit_card.expiration_year}
    - if !current_order.coupon.nil?
      %h4
        =t(:current_discount)
        %strong.label.label-danger== #{current_order.coupon.discount*100}%
        == (#{t(:coupon_number)} "#{current_order.coupon.number}")
    %h4
      = t(:books_price)
      = number_to_currency current_order.books_price
    %h4
      = t(:delivery_price)
      = number_to_currency current_order.delivery.price
    %h3
      = t(:total_price)
      %strong.label.label-primary= number_to_currency current_order.total_price
    = link_to t(:place_order), order_complete_path, class:'btn btn-lg btn-success'