.container
  %center 
    %h4.well.xl
      = render partial: 'navigation', locals: {current_step: 2}
    = form_tag order_add_delivery_path do
      .panel.panel-info.panel-little
        .panel-heading
          %h4= t(:choose_delivery)
        .panel-body
          %h5
            - Delivery.all.each do |delivery|
              - if current_order.delivery == delivery
                %label
                  = radio_button_tag :delivery_id, delivery.id, true
                  == #{delivery.name} + #{number_to_currency delivery.price}
              - else
                %label
                  = radio_button_tag :delivery_id, delivery.id
                  == #{delivery.name} + #{number_to_currency delivery.price}
              %br
        .panel-footer
          %h4
            = t(:books_price)
            %strong.label.label-info= number_to_currency current_order.books_price
          %h4
            = t(:total_price)
            %strong.label.label-info= number_to_currency current_order.total_price
          = submit_tag t(:next), class: 'btn btn-primary'
