.container
  %center 
    %h4.well.xl
      == #{t(:order_ba)} - #{t(:order_sa)} - <u>#{t(:order_delivery)}</u> >> #{t(:order_payment)} - #{t(:order_confirm)} - #{t(:order_complete)}
    = form_tag "/order/add_delivery" do
      .panel.panel-info.panel-little
        .panel-heading
          %h4= t(:choose_delivery)
        .panel-body
          %h5
            - Delivery.all.each do |delivery|
              = radio_button_tag :delivery_id, delivery.id
              %label== #{delivery.name} + #{number_to_currency delivery.price}
              %br
        .panel-footer
          %h4
            = t(:books_price)
            %strong.label.label-info= number_to_currency current_order.books_price
          %h4
            = t(:total_price)
            %strong.label.label-info= number_to_currency current_order.total_price
          = submit_tag t(:next), class: 'btn btn-primary'
    = link_to t(:delete_order), order_path(current_order), method: :delete, data: {confirm: t(:are_you_sure)}, class:'btn btn-danger'