.container
  %center 
    = form_tag order_add_delivery_path do 
      .panel.panel-info.panel-little
        .panel-heading
          %h4= t(:change_delivery)
        .panel-body
          %h5
            - Delivery.all.each do |delivery|
              - if current_order.delivery == delivery
                %label
                  = radio_button_tag :delivery_id, delivery.id, true
                  == #{delivery.name} + #{number_to_currency delivery.price}
              - else
                %label
                  = radio_button_tag :delivery_id, delivery.id
                  == #{delivery.name} + #{number_to_currency delivery.price}
              %br
        .panel-footer
          = submit_tag t(:change_delivery), class: 'btn btn-primary'