.container
  %center 
    %h2 Our books:
    %table.table.table-hover.table-small
      %thead
        %tr.success
          %th.text-center Date of update
          %th.text-center Price
          %th.text-center State
          %th.text-center Completion date
        %tbody
          - @orders.each do |order, index|
            %tr.text-center
              %td= link_to "#{order.updated_at}", order_path(order), method: :get
              %td.small= number_to_currency(order.price)
              %td.small= order.state
              %td= order.completed_at
  %center
    =link_to 'New order', orders_path, method: :post, class: 'btn btn-primary'
