.container
  %center 
    %h2 Our books:
    %table.table.table-hover.table-small
      %thead
        %tr.success
          %th.text-center Date of update
          %th.text-center Price
          %th.text-center State
          %th.text-center Date of complete
          - if customer_signed_in? && current_customer.admin
            %th.text-center Manage
        %tbody
          - @orders.each do |order|
            %tr.text-center
              %td= link_to "#{order.updated_at}", order_path(order), method: :get
              %td= number_to_currency(order.price)
              %td= order.state.humanize
              %td= order.completed_at
              - if customer_signed_in? && current_customer.admin
                %td= link_to '', order_path(order), method: :delete, class: 'icon-trash', data: {confirm: 'Are you sure?'}, title:"Delete this order"
  %center
    =link_to 'New order', new_order_path, class: 'btn btn-primary'
