.container
  %center 
    %h2 Your orders:
    - if customer_signed_in? && current_customer.orders.load.empty?
      %h2
        %strong.label.label-warning You do not have any orders.
    - else    
      %table.table.table-hover.table-small
        %thead
          %tr.success
            %th.text-center Date of update
            %th.text-center Price
            %th.text-center State
            %th.text-center Date of complete
            - if current_customer.admin
              %th.text-center Customer
              %th.text-center Manage
          %tbody
            - @orders.each do |order|
              %tr.text-center
                %td= link_to "#{order.updated_at}", order_path(order), method: :get
                %td= number_to_currency(order.price)
                %td= order.state.humanize
                %td= order.completed_at
    %center
      =link_to 'New order', new_order_path, class: 'btn btn-primary'
