.container
  %center 
    %h2 New order: 
    %br
    %table.table.table-hover.table-small
      %thead
        %tr.success
          %th.text-center Book title
          %th.text-center Author
          %th.text-center Category
          %th.text-center Quantity
          %th.text-center Price
          %th.text-center Manage
        %tbody
          -  current_customer.order_items.where(order_id: nil).each do |oi|
            %tr.text-center
              %td= oi.book.title
              %td= oi.book.author
              %td= oi.book.category
              %td== #{link_to "", decrease_order_item_path(oi), method: :post, class: 'icon-minus'} #{oi.quantity} #{link_to "", increase_order_item_path(oi), method: :post, class: 'icon-plus'}
              %td= number_to_currency(oi.price)
              %td= link_to "", order_item_path(oi), method: :delete, data: {confirm: "Are you sure?"}, class:'icon-trash', title:"Delete from order"
    %center
      %h2== Total price: <span class="label label-primary">#{number_to_currency(current_customer.order_price)}</span>
      %br
      = form_for @order do |order|
        = order.text_field :state
        = order.number_field :price
        %h2 Please provide us with next infomation: 
        %h4 Credit card info: 
        %table.table.table-hover.table-small
          %thead
            %tr.success
              %th.text-center Card number
              %th.text-center CVV
              %th.text-center Owner firstname
              %th.text-center Owner lastname
              %th.text-center Exp month
              %th.text-center Exp year
            %tbody
              %tr.text-center
                = order.fields_for :credit_card do |cc|
                  %td= cc.text_field :number
                  %td= cc.text_field :cvv, size: 4
                  %td= cc.text_field :firstname, size: 8
                  %td= cc.text_field :lastname, size: 8
                  %td= cc.number_field :expiration_month, in: 1..12, size: 3, type: :integer
                  %td= cc.number_field :expiration_year, min: Time.now.year, size: 4, type: :integer
        %h4 Bill address info: 
        %table.table.table-hover.table-small
          %thead
            %tr.success
              %th.text-center Country
              %th.text-center City
              %th.text-center Address
              %th.text-center Zip code
              %th.text-center Phone
            %tbody
              %tr.text-center
                = order.fields_for :bill_address do |ba|
                  %td= ba.select :country_id, options_from_collection_for_select(Country.all, :id, :name)
                  %td= ba.text_field :city, size: 10
                  %td= ba.text_area :address
                  %td= ba.text_field :zipcode, size: 5
                  %td= ba.telephone_field :phone
        %h4 Ship address info: 
        %table.table.table-hover.table-small
          %thead
            %tr.success
              %th.text-center Country
              %th.text-center City
              %th.text-center Address
              %th.text-center Zip code
              %th.text-center Phone
            %tbody
              %tr.text-center
                = order.fields_for :ship_address do |sa|
                  %td= sa.select :country_id, options_from_collection_for_select(Country.all, :id, :name)
                  %td= sa.text_field :city, size: 10
                  %td= sa.text_area :address
                  %td= sa.text_field :zipcode, size: 5
                  %td= sa.telephone_field :phone
        = order.submit