.container
  %center 
    %h2== Order from "#{@order.updated_at}": 
    %br
    %table.table.table-hover.table-small
      %thead
        %tr.success
          %th.text-center Book title
          %th.text-center Author
          %th.text-center Category
          %th.text-center Quantity
          %th.text-center Price
        %tbody
          -  @order.order_items.each do |oi|
            %tr.text-center
              %td= oi.book.title
              %td= oi.book.author
              %td= oi.book.category
              %td= oi.quantity
              %td= number_to_currency(oi.price)
    %center
      %h2== Total price: <span class="label label-success">#{number_to_currency(@order.price)}</span>
      %br
      -if customer_signed_in? && current_customer.admin
        =link_to 'Delete order', order_path, method: :delete, class: 'btn btn-danger'