.container
  %center 
    %h2== Order from "#{@order.updated_at}": 
    %h3 Books in order:
    %table.table.table-hover.table-small
      %thead
        %tr.success
          %th.text-center Book title
          %th.text-center Author
          %th.text-center Category
          %th.text-center Quantity
          %th.text-center Price
        %tbody
          -  @order.order_items.each do |oi|
            %tr.text-center
              %td= oi.book.title
              %td= oi.book.author.full_name
              %td= oi.book.category.title
              %td= oi.quantity
              %td= number_to_currency(oi.price)
    %h5
      .inline
        .panel.panel-info.panel-little
          .panel-heading
            %h4 Bill address:  
          .panel-body
            == #{@order.bill_address.country.name}<br>#{@order.bill_address.zipcode}, #{@order.bill_address.city}<br>#{@order.bill_address.address}
          .panel-footer
            == Phone: #{@order.bill_address.phone}
      .inline
        .panel.panel-info.panel-little
          .panel-heading
            %h4 Ship address:  
          .panel-body
            == #{@order.ship_address.country.name}<br>#{@order.ship_address.zipcode}, #{@order.ship_address.city}<br>#{@order.ship_address.address}
          .panel-footer
            == Phone: #{@order.ship_address.phone} 
    .outline           
      %hr    
      %h2== Total price: <span class="label label-success">#{number_to_currency(@order.price)}</span>
      %h2== Order status: <label class="label label-info">#{@order.state.humanize}</label>