.container
  %center 
    %h2== #{t(:order_from)} #{@order.customer.id}#{@order.created_at.to_formatted_s(:number)} (#{@order.created_at.to_formatted_s(:long)})
    %h3= t(:books_in_order)
    %table.table.table-hover.table-small
      %thead
        %tr.success
          %th.text-center= t(:book_title)
          %th.text-center= t(:author_name)
          %th.text-center= t(:category_name)
          %th.text-center= t(:quantity)
          %th.text-center= t(:price)
        %tbody
          -  @order.order_items.each do |oi|
            %tr.text-center
              %td= link_to "#{oi.book.title}", book_path(oi.book.id), method: :get
              %td= link_to "#{oi.book.author.full_name}", author_path(oi.book.author.id), method: :get
              %td= link_to "#{oi.book.category.title}", category_path(oi.book.category.id), method: :get
              %td= oi.quantity
              %td== #{number_to_currency(oi.book.price)} (#{t(:total)} #{number_to_currency(oi.price)})
    %h5
      .inline
        .panel.panel-info.panel-little
          .panel-heading
            %h4= t(:ba_info) 
          .panel-body
            == #{@order.bill_address.country.name}<br>#{@order.bill_address.zipcode}, #{@order.bill_address.city}<br>#{@order.bill_address.address}
          .panel-footer
            == #{t(:phone)} #{@order.bill_address.phone}
      .inline
        .panel.panel-info.panel-little
          .panel-heading
            %h4= t(:sa_info) 
          .panel-body
            == #{@order.ship_address.country.name}<br>#{@order.ship_address.zipcode}, #{@order.ship_address.city}<br>#{@order.ship_address.address}
          .panel-footer
            == #{t(:phone)} #{@order.ship_address.phone} 
    .outline           
      %hr    
      %h2== #{t(:total_price)} <span class="label label-success">#{number_to_currency(@order.price)}</span>
      %h2== #{t(:status)} <label class="label label-info">#{@order.state.humanize}</label>