.row
  .btn-group
    %button.btn.btn-info.dropdown-toggle#dropdownMenu1{'type' => 'button', 'data-toggle' => 'dropdown'}
      Filter by category
      %span.caret
    %ul.dropdown-menu{'role' => 'menu', "aria-labelledby" => 'dropdownMenu1'}
      - Category.all.each do |cat|
        %li{'role' => 'presentation'}
          = link_to "#{cat.title}", category_filter_books_path(cat), 'role' => 'menuitem', 'tabindex' => '-1'
  .btn-group 
    %button.btn.btn-info.dropdown-toggle#dropdownMenu1{'type' => 'button', 'data-toggle' => 'dropdown'}
      Filter by author
      %span.caret
    %ul.dropdown-menu{'role' => 'menu', "aria-labelledby" => 'dropdownMenu1'}
      - Author.all.each do |author|
        %li{'role' => 'presentation'}
          = link_to "#{author.full_name}", author_filter_books_path(author), 'role' => 'menuitem', 'tabindex' => '-1'
%br
- if @books.empty?
  %h3 
    %strong.label.label-warning= t(:no_books)
- else
  - @books.each do |book|
    .inline
      .panel.panel-info.carousel-panel
        .panel-heading
          %h4
            .pull-left
              .label.label-success
                = book.avg_rating
                - klass = book.avg_rating > 0 ? 'icon-star' : 'icon-star-empty'
                = link_to "", book_path(book) + '#rate', title:"Rate this book", class:klass
            .pull-right
              .label.label-primary
                = link_to "#{book.wishers.count}", wishers_book_path(book), title:"Book wishers", class:'wishers-link' 
                - if customer_signed_in? && current_customer.wishes.include?(book)
                  %i.icon-user
                  = link_to '', remove_wish_book_path(book), method: :post, class:"icon-remove", title: 'Remove from wish list'
                - else
                  %i.icon-user
                  = link_to '', add_wish_book_path(book), method: :post, class:"icon-plus", title: 'Add to wish list'
            %strong= link_to "#{book.title}", book_path(book)
        .panel-body.book-body
          = link_to image_tag(book.cover.thumb.url), book_path(book)
          .book-info
            %strong= t(:author) 
            = book.author.full_name
            %br
            %strong= t(:category)
            = book.category.title
            %br
            %strong= t(:description) 
            = book.description
            %br
            %h4
              %strong== #{t(:price)}:
              %strong= number_to_currency book.price
        .panel-footer
          = form_tag "/add_to_order/#{book.id}", class: 'form-inline' do
            - if book.in_stock > 0
              .form-group
                = number_field_tag :quantity, 1, min: 1, max: "#{book.in_stock}", class: 'input-small form-control xs'
              .form-group
                = submit_tag t(:add_to_cart), class:"btn btn-sm btn-success"
            - else
              = submit_tag t(:unavaliable),class:"btn btn-sm btn-warning", disabled: true