.row
  .btn-group
    %button.btn.btn-info.dropdown-toggle#dropdownMenu1{'type' => 'button', 'data-toggle' => 'dropdown'}
      Filter by category
      %span.caret
    %ul.dropdown-menu{'role' => 'menu', "aria-labelledby" => 'dropdownMenu1'}
      - Category.all.each do |cat|
        %li{'role' => 'presentation'}
          = link_to "#{cat.title}", category_filter_books_path(cat), 'role' => 'menuitem', 'tabindex' => '-1'
  .btn-group 
    %button.btn.btn-info.dropdown-toggle#dropdownMenu1{'type' => 'button', 'data-toggle' => 'dropdown'}
      Filter by author
      %span.caret
    %ul.dropdown-menu{'role' => 'menu', "aria-labelledby" => 'dropdownMenu1'}
      - Author.all.each do |author|
        %li{'role' => 'presentation'}
          = link_to "#{author.full_name}", author_filter_books_path(author), 'role' => 'menuitem', 'tabindex' => '-1'
%br
- if @books.empty?
  %h3 
    %strong.label.label-warning Sorry, no books right now...
- else
  - @books.each do |book|
    .inline
      .panel.panel-info.panel-little
        .panel-body.panel-book
          %h5
            = link_to image_tag(book.cover.thumb.url), book_path(book)
            %br
            %h4
              %strong= link_to "#{book.title}", book_path(book)
              .text-center
                .label.label-success
                  = book.avg_rating
                  %i.icon-star
            %strong Author: 
            = book.author.full_name
            %br
            %strong Category:
            = book.category.title
            %br
            %strong Description: 
            %br= book.description
        .panel-footer
          %h4
            %label.label.label-info= number_to_currency book.price
          - if book.in_stock > 0
            = link_to "Add to cart", add_to_order_book_path(book), method: :post, class:"btn btn-sm btn-success", title:"Add to cart"
          - else
            = link_to "Unavaliable", add_to_order_book_path(book), class:"btn btn-sm btn-warning", disabled: true, title:"Unavaliable"