.row
  .btn-group
    %button.btn.btn-info.dropdown-toggle#dropdownMenu1{'type' => 'button', 'data-toggle' => 'dropdown'}
      Filter by category
      %span.caret
    %ul.dropdown-menu{'role' => 'menu', "aria-labelledby" => 'dropdownMenu1'}
      - Category.all.each do |cat|
        %li{'role' => 'presentation'}
          = link_to "#{cat.title}", category_filter_books_path(cat), 'role' => 'menuitem', 'tabindex' => '-1'
  .btn-group 
    %button.btn.btn-info.dropdown-toggle#dropdownMenu1{'type' => 'button', 'data-toggle' => 'dropdown'}
      Filter by author
      %span.caret
    %ul.dropdown-menu{'role' => 'menu', "aria-labelledby" => 'dropdownMenu1'}
      - Author.all.each do |author|
        %li{'role' => 'presentation'}
          = link_to "#{author.full_name}", author_filter_books_path(author), 'role' => 'menuitem', 'tabindex' => '-1'
%br
- if @books.empty?
  %h3 
    %strong.label.label-warning= t(:no_books)
- else
  - @books.each do |book|
    .inline
      .panel.panel-info.panel-little
        .panel-heading.header-book
          %h4
            .pull-left
              .label.label-success
                = book.avg_rating
                %i.icon-star
            .pull-right
              .label.label-info
                = book.wishers.count
                %i.icon-user
            %strong.centered= link_to "#{book.title}", book_path(book)
        .panel-body.panel-book
          %h5
            = link_to image_tag(book.cover.thumb.url), book_path(book)
            %br
            %h4
            %strong= t(:author) 
            = book.author.full_name
            %br
            %strong= t(:category)
            = book.category.title
            %br
            %strong= t(:description) 
            %br= book.description
        .panel-footer
          %h4
            %label.label.label-info= number_to_currency book.price
          = form_tag "/books/#{book.id}/add_to_order", class: 'form-inline' do
            - if book.in_stock > 0
              .form-group
                = number_field_tag :quantity, 1, min: 1, max: "#{book.in_stock}", class: 'input-small form-control xs'
              .form-group
                = submit_tag t(:add_to_cart), class:"btn btn-sm btn-success"
            - else
              = submit_tag t(:unavaliable),class:"btn btn-sm btn-warning", disabled: true