= form_for @book do |book|
  = render partial: "errors/errors", locals: {object: book.object}
  .panel.panel-info.panel-little#cc
    .panel-heading
      %h4== Editing "#{@book.title}" info:
    .panel-body
      %h5
        %label.control-label== Book title: #{book.text_field :title, placeholder:"Type book title here..", class: 'form-control'}
        %br
        %br
        %label.control-label== Price: #{book.number_field :price, min: 0.01, step: 0.01, style:"width:50px", value: 0.01, class: 'form-control'}
        %br
        %br
        %label.control-label== Number in stock: #{book.number_field :in_stock, min: 0, step: 1, style:"width:50px", class: 'form-control'}
        %br
        %br
        %label.control-label== Author: #{book.select :author_id, options_from_collection_for_select(Author.all, :id, :full_name), {}, {:class => 'form-control'}}
        %br
        %br
        %label.control-label== Category: #{book.select :category_id, options_from_collection_for_select(Category.all, :id, :title), {}, {:class => 'form-control'}}
        %br
        %br
        %label.control-label== Book description: #{book.text_area :description, size: "24x6", placeholder:"Type book discription here...", class: 'form-control'}
        %br
        %br
        = book.submit 'Update book', class: 'btn btn-success'