.container
  %center 
    %h2== "#{@book.title}" book info: 
    %h4
      %br
      == Full title: <strong>#{@book.title}</strong><br>
      == Author of this book: <strong>#{@book.author.full_name}</strong><br>
      == Category: <strong>#{@book.category.title}</strong><br>
      == Description: <strong>#{@book.description}</strong><br><br>
      == Customers rating: <strong>#{@book.avg_rating}</strong><br>
      == Wished by 
      = link_to "#{@book.wishers.count}", wishers_book_path(@book), title:"Show book wishers" 
      == customer(s)
      %br
      %br
      == We can sell it for: <strong>#{number_to_currency(@book.price)}</strong><br>
      == We have <strong>#{@book.in_stock}</strong> exemplar(s) of this book in stock
    %center
      - if customer_signed_in? && current_customer.wishes.include?(@book)
        %br= link_to "Remove from wish list", remove_wish_book_path(@book), method: :post, class:"btn btn-warning"
      - else
        %br= link_to "Add to wish list", add_wish_book_path(@book), method: :post, class:"btn btn-info"
      - if @book.in_stock > 0
        %br= link_to "Add to cart", add_to_order_book_path, method: :post, class:"btn btn-success"
      - else
        %h3
          %strong.label.label-warning Sorry, we dont have this book right now
      %hr
      %h3 Customer's reviews:
      - if @current_book.ratings.empty?
        %h3 
          %small No reviews for this book right now...You can be first!
      - else
        - @current_book.ratings.load.each do |review|
          - if review.approved == true
            .panel.panel-info.panel-small
              .panel-heading 
                %h5== <strong>#{review.customer.email}</strong> wrote:
                - if can? :manage, review
                  == #{link_to '', approve_review_book_rating_path(@current_book, review), method: :post, class: 'icon-ok', title: 'Approve this review', data: {confirm: 'Are you sure?'}} | #{link_to '', book_rating_path(@current_book, review), method: :delete, class: 'icon-remove', title: 'Delete this review', data: {confirm: 'Are you sure?'}}
              .panel-body
                %h5
                  %em== - "#{review.text}"
              .panel-footer
                %h5== Rated: <strong>#{review.rating}</strong> point(s)
          - else
            .panel.panel-info.panel-small
              .panel-heading 
                %h5== Review by <strong>#{review.customer.email}</strong> should be approved first
              - if can? :manage, review
                .panel-body
                  %h5
                    %em== - "#{review.text}"
                .panel-footer
                  %h5== Rated: <strong>#{review.rating}</strong> point(s)
      - if can? :new, Rating
        %h3 Please, rate this book and leave your review:
        = form_for [@book, @rating] do |rating|
          %h5
            %label.control-label== Your rating: #{rating.number_field :rating, in: 1..10, step: 1, class: 'form-control', style:'width:60px'}
            %br
            %label.control-label== Your review: #{rating.text_area :text, placeholder:"Type review here...", class: 'form-control', style:'width:400px'}
            %br= rating.submit "Rate and review", class:"btn btn-info"