.container
  %center 
    %h2 Our top rated books:
    - if @books.any?
      #top_rated_carousel.carousel.slide{'data-ride' => "carousel"}
        %ol.carousel-indicators
          - @books.count.times do |index|
            = content_tag :li, '',{'data-target' => "#top_rated_carousel", 'data-slide-to' => index, class: index == 0 ? 'active' : '' }
        .carousel-inner
          - @books.each_with_index do |book, index|
            - klass = index == 0 ? 'item active' : 'item'
            %div{class: klass}
              .panel.panel-info.carousel-panel
                .panel-heading
                  %h4
                    .pull-left
                      .label.label-success
                        = book.avg_rating
                        %i.icon-star
                    .pull-right
                      .label.label-primary
                        = book.wishers.count
                        %i.icon-user
                    %strong= link_to "#{book.title}", book_path(book)
                .panel-body
                  = link_to image_tag(book.cover.thumb.url), book_path(book)
                  .book-info
                    %strong= t(:author) 
                    = book.author.full_name
                    %br
                    %strong= t(:category)
                    = book.category.title
                    %br
                    %strong= t(:description) 
                    = book.description
                    %br
                    %strong== #{t(:price)}:
                    %strong= number_to_currency book.price
                .panel-footer
                  = form_tag "/add_to_order/#{book.id}", class: 'form-inline' do
                    - if book.in_stock > 0
                      .form-group
                        = number_field_tag :quantity, 1, min: 1, max: "#{book.in_stock}", class: 'input-small form-control xs'
                      .form-group
                        = submit_tag t(:add_to_cart), class:"btn btn-sm btn-success"
                    - else
                      = submit_tag t(:unavaliable),class:"btn btn-sm btn-warning", disabled: true
        %a{ 'href' => '#top_rated_carousel', class: "carousel-control left", 'data-slide' => "prev" }
          %h3
            %strong <
        %a{ 'href' => '#top_rated_carousel', class: "carousel-control right", 'data-slide' => "next" }
          %h3
            %strong >
    - else
      %h2
        %strong.label.label-warning= t(:no_rated_books)