.container
  %center 
    = form_for @customer_ship_address do |sa|
      = render partial: "errors/errors", locals: {object: sa.object}
      .panel.panel-info.panel-little#sa
        .panel-heading
          %h4= t(:edit_sa)
        .panel-body
          %h5
            = render partial: 'form', locals: {sa: sa}
        .panel-footer
          = sa.submit t(:update_sa), class: 'btn btn-success'