.container
  %center 
    - if current_order.order_items.empty? 
      %h2
        %strong.label.label-warning= t(:empty_cart)
    - else 
      %h2= t(:new_order)
      %table.table.table-hover.table-small
        %thead
          %tr
            %th.text-center= t(:book_title)
            %th.text-center= t(:author_name)
            %th.text-center= t(:category_name)
            %th.text-center= t(:quantity)
            %th.text-center= t(:price)
            %th.text-center= t(:manage)
          %tbody
            - @order_items.each do |oi|
              %tr.text-center
                %td= link_to "#{oi.book.title}", book_path(oi.book.id), method: :get
                %td= link_to "#{oi.book.author.full_name}", author_path(oi.book.author.id), method: :get
                %td= link_to "#{oi.book.category.title}", category_path(oi.book.category.id), method: :get
                %td= oi.quantity
                %td== #{number_to_currency(oi.book.price)} (#{t(:total)} #{number_to_currency(oi.price)})
                %td== #{link_to '', edit_order_item_path(oi), class: 'icon-pencil', title: t(:change_oi_quantity)} | #{link_to "", order_item_path(oi), method: :delete, data: {confirm: t(:are_you_sure)}, class:'icon-trash', title: t(:remove_from_cart)}
      %h4
        - if current_order.coupon
          =t(:current_discount)
          %strong.label.label-danger== #{current_order.coupon.discount*100}%
          == (#{t(:coupon_number)} "#{current_order.coupon.number}")
      %h3
        %strong Total price:
        %strong.label.label-primary= number_to_currency(current_order.total_price)
      = form_tag "/update_with_coupon", class: 'form-inline' do
        %h4.form-group
          = link_to t(:to_shop), books_path, class:'btn btn-info'
          = link_to t(:clear_cart), clear_cart_path, data: {confirm: t(:are_you_sure)}, class:'btn btn-warning'
          - if current_order.coupon.nil?
            = text_field_tag :coupon, nil, placeholder: t(:enter_coupon_number), class: 'form-control xlg'
            = submit_tag t(:update), class:'btn btn-info'
          - else
            = link_to t(:remove_coupon), remove_coupon_path, method: :post, class:'btn btn-warning'
          = link_to t(:checkout), order_checkout_path, method: :get, class:'btn btn-success'