.container
  %center 
    .panel.panel-info.panel-small
      .panel-heading
        %h3== "#{@category.title}": 
      .panel-body
        %h4
          == #{t(:category_name)} <strong>#{@category.title}</strong>
          %hr
          = t(:book_in_cat)
          - @category.books.each do |book|
            %br
            = link_to "#{book.title}", book_path(book), method: :get