.container
  %center 
    %h2== "#{@category.title}": 
    %h4
      %br
      == #{t(:category_name)} <strong>#{@category.title}</strong>
      %br
      %br
      = t(:book_in_cat)
      - @category.books.each do |book|
        %br
        = link_to "#{book.title}", book_path(book), method: :get