.container
  %center 
    = form_for @customer_bill_address do |ba|
      = render partial: "errors/errors", locals: {object: ba.object}
      .panel.panel-info.panel-little#ba
        .panel-heading
          %h3= t(:edit_ba)
        .panel-body
          %h5
            = render partial: 'form', locals: {ba: ba}
        .panel-footer
          = ba.submit t(:update_ba), class: 'btn btn-success'