<!DOCTYPE html>
<html>
<head>
  <title><%= t(:site_title)%></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
	<div class="navbar-header">
		<a class="navbar-brand" href="/books/">AMAZON</a>
  </div>
    <ul class="nav navbar-nav navbar-left">
        <li><%= link_to t(:books), books_path %></li>
        <li><%= link_to t(:categories), categories_path %></li>
        <li><%= link_to t(:authors), authors_path %></li>
        <% if customer_signed_in? %>
          <li><%= link_to t(:orders), orders_path %></li>
        <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
  		<% if customer_signed_in? %>
        <% if can? :manage, rails_admin %>
          <li class='active'><%= link_to t(:admin_panel), rails_admin_path %></li>
        <% end %>
        <li class='active'><%= link_to raw("#{t(:cart)} <span class='badge'>#{current_customer.order_items.in_cart.count}</span>"), new_order_path %></li>
  			<li><%= link_to "#{t(:profile)} (#{current_customer.email})", edit_customer_registration_path %></li>
  			<li><%= link_to t(:sign_out), destroy_customer_session_path, :method => :delete %></li>
  		<% else %>
  			 <li><%= link_to t(:sign_up), new_customer_registration_path %></li>
         <li><%= link_to t(:sign_in), new_customer_session_path %></li>
         <li><%= link_to t(:sign_in_facebook), customer_omniauth_authorize_path(:facebook)%></li>
  		<% end %>
    </ul>
</nav>
<% if flash[:notice] %>
  <div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><center><%= notice %></center></div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><center><%= alert %></center></div>
<% end %>
<%= yield %>
</body>
</html>
