<!DOCTYPE html>
<html>
<head>
  <title>Amazon - web book store</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse" align="right">
	<div class="navbar-header">
		<a class="navbar-brand" href="/books/">AMAZON</a>
  </div>
    <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Books", books_path %></li>
        <li><%= link_to "Categories", categories_path %></li>
        <li><%= link_to "Authors", authors_path %></li>
        <% if customer_signed_in? %>
          <li><%= link_to "Orders", orders_path %></li>
        <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
  		<% if customer_signed_in? %>
        <li><%= link_to raw("My shopping cart <span class='badge'>#{current_customer.order_items.where(order_id: nil).count}</span>"), new_order_path %></li>
  			<li><%= link_to "Profile (#{current_customer.email})", edit_customer_registration_path %></li>
  			<li><%= link_to "Sign out", destroy_customer_session_path, :method => :delete %></li>
  		<% else %>
  			 <li><%= link_to "Sign up", new_customer_registration_path %></li>
         <li><%= link_to "Sign in", new_customer_session_path %></li>
  		<% end %>
    </ul>
</nav>
<% if flash[:notice] %>
  <div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><center><%= notice %></center></div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><center><%= alert %></center></div>
<% end %>
<%= yield %>
</body>
</html>
